[Desktop Entry]
Encoding=UTF-8
Name=Google Keep
Comment=A note-taking service.
Type=Application
Exec=exo-open https://keep.google.com/
Icon=/usr/share/icons/google-app/Keep_29993.png
Categories=GTK;Office;
