Package: serene-google-menus
Version: 1.2.0
Maintainer: YamaD <yamad@fascode.net>
Section: utils
Priority: optional
Architecture: all
Depends:
Origin: FascodeNetwork
Homepage: https://github.com/FascodeNet/serene-google-menus
Description: Provides a link to a web service to Google.
