Package: serene-google-menus
Version: 1.1.0
Maintainer: YamaD <yamad.linuxer@gmail.com>
Section: utils
Priority: optional
Architecture: all
Depends:
Origin: SereneLinux
Homepage: https://github.com/SereneTeam/serene-google-menus
Description: Provides a link to a web service to Google.
 
